.lightColor {
    background-color: var(--bs-primary);
    
}

.bordered {
    border: 1px solid #3e3f3e65;
}

.fullCard {
    height: 50vh;
    margin-top: 15vh;
    padding: 70px;
}

.mrg {
    margin-top: 27vh;
}

.mrgSmall {
    margin-top: 15vh;
}

.p {
    padding: 8vw;
}

body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-size: 100%;
    color: var(--bs-secondary);
}

.textColorLight {
    color: var(--bs-primary);
}

svg {
    color: var(--bs-primary);
}

a {
    color: var(--bs-body-color);
}

.svgMenu {
    color: var(--bs-secondary);
}

.nav-link {
    font-weight: 800;
}